/*
 * Please note, this is designed for 1920 x 1080. 
 * Can easily be changed by adjusting width and height.
 * 
 * Basis idea for understanding:
 * 1. Need to filter the image using threshold (999 contrast works here)
 * 2. Apply another filter on top of that with dots that have a radial gradient, which is perfect for blending.
 * 2.1 Can be black or white + CYM. Since computers use RGB, it might not look as nice.
 * 3. Apply multiply background blending mode.
 * 
 * HOW TO USE: 
 * 
<div class="halftone-black">

            **IMAGES**
    <img src="images/background3.jpg">

            **VIDEOS**
    <video autoplay muted loop id="myVideo">
    <source src="images/video.mp4" type="video/mp4">
    </video>

</div>
 * 
 * 
 * 
 * - patmeharder
 * 
NOTES TO SELF:
Need to fix colour half tone
Seperate each layer possibly. 
 */

:root {
    --size: 20px;
    --bleed: 0.60; 
    --rotate: 0deg; 
}

.halftone {
    position: relative;
    overflow: hidden; 
    filter: 
        brightness(var(--bleed)) 
        blur(3px) 
        contrast(999);
}

.halftone:after {
    transform: 
        translateX(-1000px)
        translateY(-1000px)
        rotate(calc(-21deg + var(--rotate)));
    content: '';
    position: absolute;
    width: 3000px;
    height: 3000px;
    inset: 0;
    background:
      radial-gradient(calc(var(--size)/4*1) at center, black, white),
      radial-gradient(calc(var(--size)/2) at 25% 25%, cyan, white),
      radial-gradient(calc(var(--size)/2) at 75% 25%, magenta, white),
      radial-gradient(calc(var(--size)/2) at 50% 75%, yellow, white);
    background-size: var(--size) var(--size);
    background-blend-mode: multiply;
    mix-blend-mode: screen;
}

.halftone-black {
    position: relative;
    overflow: hidden; 
    filter: 
        grayscale(1) 
        brightness(var(--bleed)) 
        blur(2px) 
        contrast(999);
}

.halftone-black:after {
    transform: 
        translateX(-1000px)
        translateY(-1000px)
        rotate(calc(-21deg + var(--rotate)));
    content: '';
    position: absolute;
    width: 3000px;
    height: 3000px;
    inset: 0;
    background:radial-gradient(calc(var(--size)/2) at center, black, white);
    background-size: var(--size) var(--size);
    background-blend-mode: multiply;
    mix-blend-mode: screen;
}
.photo {
    position: absolute; 
    top: 0px;
    left: 0px; 
}

